.sejarah-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

.content-wrapper {
  display: flex;
  max-width: 100%;
  gap: 20px;
}

.left-column,
.right-column {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left-column {
  flex: 2 !important;
}

.right-column {
  flex: 1 !important;
  position: sticky;
  top: 20px;
}

.image-preview,
.image-container {
  margin-top: 10px;
  max-width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.image-container {
  margin-top: 10px;
  max-width: 100% !important; /* Batasi lebar kontainer gambar */
  text-align: center;
}

.preview-image {
  max-width: 70% !important;
  width: 70% !important;
  object-fit: contain;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.custom-file-input {
  display: block;
  margin-top: 10px;
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.p-field {
  margin-bottom: 20px;
}

.p-field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.input-title {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.cardr {
  margin-top: 20px;
}

.radio-button-container {
  margin-bottom: 10px;
}

.radio-button-container label {
  margin-left: 5px;
}

.p-buttonadmin {
  width: 100%;
  margin-top: 10px;
  background-color: #008080 !important; /* Warna hijau teal */
  color: white; /* Warna teks putih */
  border-radius: 12px !important; /* Rounded dengan radius 12px */
  padding: 10px 20px; /* Menambahkan padding agar tombol lebih besar */
  border: none; /* Menghilangkan border default */
  text-align: center; /* Menyelaraskan teks di tengah */
  font-size: 16px; /* Menetapkan ukuran font */
  cursor: pointer; /* Menambahkan pointer cursor */
  transition: background-color 0.3s ease; /* Efek transisi saat hover */
}

.p-buttonadmin:hover {
  background-color: #006666 !important; /* Warna hijau teal yang lebih gelap saat hover */
}

.toolbar-container-content {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
  }

  .right-column {
    position: static;
  }
}
