.gradient-text {
  font-size: 2.5rem;
  font-weight: bold;
  background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff, #ff0000);
  background-size: 300% 300%; /* Ukuran besar untuk efek pergerakan */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientText 3s ease infinite; /* Atur durasi animasi */
  text-align: center;
  margin: 20px 0;
}

@keyframes gradientText {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
